<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="footer-heading">About Us</h4>
                <ul class="footer-nav list-inline">
                    <li><a routerLink="/about" routerLinkActive="active">Company</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4 class="footer-heading">Legal</h4>
                <ul class="footer-nav list-inline">
                    <li><a routerLink="/policy" routerLinkActive="active">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4 class="footer-heading"><span id="year-copy">2018</span> &copy; <a href="">Turn The Page</a></h4>
                <ul class="footer-nav list-inline">
                    <li>Developed by <a href="">Tejas Desai</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>