@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353535;
    background-color: #151515;
}

#contact-container {
    margin: 20px 0 100px 0;
    width: 100%;
}

.deleteicon {
	text-align: center;
}