@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353535;
    background-color: #151515;
}

#orders {
    margin: 60px 0 100px 0;
    width: 100%;
}

#orders.boxed {
    max-width: 1280px;
}

.site-section {
    padding: 50px 0;
}

.site-block {
    margin-bottom: 49px;
}

.site-heading {
    margin: 0 0 29px;
}

.site-content {
    background-color: #ffffff;
    padding-bottom: 1px;
}

.cart_section
{
	width: 100%;
	padding-top: 93px;
	padding-bottom: 111px;
}
.cart_title
{
	font-size: 30px;
	font-weight: 500;
}
.cart_items
{
	margin-top: 67px;
	overflow-y: scroll;
}
.cart_list
{
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.cart_item
{
	width: 100%;
	padding: 15px;
	padding-right: 46px;
}
.cart_item_image
{
	width: 133px;
	height: 133px;
	float: left;
}
.cart_item_image img
{
	max-width: 100%;
	max-height: 90%;
}
.cart_item_info
{
	width: calc(100% - 133px);
	float: left;
	padding-top: 18px;
}
.cart_item_name
{
	margin-left: 7.53%;
}
.cart_item_title
{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
}
.cart_item_text
{
	font-size: 18px;
	margin-top: 35px;
	text-align: center;
	float: left;
}
.cart_item_cost
{
	font-size: 18px;
	margin-top: 35px;
	text-align: center;
	float: right;
}
.cart_item_quantity
{
	font-size: 18px;
	text-align: center;
}
.cart_item_text span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 11px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.cart_item_remove
{
	text-align: center;
	font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: #0e8ce4;
}
.cart_item_author{
	font-size: 10px;
	float: left;
}
.cart_item_price
{	
	float: right;
	text-align: right;
	width: 30%;
}
.cart_item_total
{
	text-align: right;
}
.order_total
{
	width: 100%;
	height: 60px;
	margin-top: 30px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-right: 46px;
	padding-left: 15px;
}
.order_total_title
{
	display: inline-block;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	line-height: 60px;
}
.order_total_amount
{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	margin-left: 26px;
	line-height: 60px;
}
.cart_buttons
{
	margin-top: 60px;
	text-align: right;
}
.cart_button_continue
{
	display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
}

.cart_button_checkout
{
	display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}
.clear
{
	clear: both;
}
.clearfix
{
	list-style: none;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.cart_buttons
{
	margin-top: 60px;
	text-align: right;
}
.cart_button_clear
{
	display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0,0,0,0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
}
.cart_button_clear:hover
{
	border-color: #0e8ce4;
	color: #0e8ce4;
}
.cart_button_checkout
{
	display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}
.button
{
	display: inline-block;
	background: #0e8ce4;
	border-radius: 5px;
	height: 48px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
}
.button:hover
{
	opacity: 0.8;
}
.cart_item_quantitytotal{
	text-align: center;
	margin-top: 15px;
}

.order_dateCost{
	width: 20%; 
	float: left;
}

.order_Cost{
	width: 10%;
	float: left;
}

.order_name{
	width:20%; 
	float:left;
}

.order_address{
	width:30%; 
	float:left;
}

.order_item_date{
	width:100%; 
	height: 50%; 
	text-align: center;
}

.order_date_title{
	font-size: 10px;
}

.order_date{
	font-size: 15px;
}

.order_ship_title{
	width:100%; 
	height: 50%; 
	text-align: center;
	font-size: 10px;
}

.order_ship_name{
	width:100%; 
	height: 50%; 
	text-align: center;
	font-size: 15px;
}

.order_ship_address{
	width:100%; 
	height: 50%; 
	text-align: center;
	font-size: 13px;
}

.order_details{
	margin-bottom: 15px;
}










