.container{
	width: 100%;
}

.push-bit {
	width: 15rem;
    max-width: 20rem;
    max-height: 30rem;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.site-section {
    padding: 50px 0;
}

.site-block {
    margin-bottom: 49px;
}

.site-heading {
    margin: 0 0 29px;
}

.site-content {
    background-color: #ffffff;
    padding-bottom: 1px;
}

.book_title {
	font-size: 24px;
    font-weight: 400;
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
}

.book_authors {
	font-size: 14px;
	color: #0e8ce4;
	font-family: "Times New Roman", Times, serif;
}

.reg-btn {
	width: 100%;
	margin-bottom: inherit !important;
}

.addtocart {
    margin-top: 20px;
}


