<!-- Sign Up Action -->

<div id="page-container">
	<section class="site-content site-section">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
	                <!-- Log In Form -->
	                <form method="post" id="formlogin" name="form" class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
	                    <div class="form-group">
	                        <div class="col-xs-12">
	                            <div class="input-group">
	                                <label for="loginemail">Email</label>
	                                <input type="email" id="loginemail" name="email" class="form-control input-lg" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
	                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
			                        	<div *ngIf="email.errors.required">Email is required</div>
			                        	<div *ngIf="email.errors.email">Email must be a valid email address</div>	
			                        </div>
	                            </div>
                        	</div>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-xs-12">
	                            <div class="input-group">
	                                <label for="loginpassword">Password</label>
	                                <input type="password" id="loginpassword" name="password" class="form-control input-lg" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
	                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
			                            <div *ngIf="password.errors.required">Password is required</div>
			                             <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
			                        </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<div class="col-xs-12">
	                    		<div class="input-group">
	                    			<label for="logintype">Login as</label>
	                    			<select placeholder="Login as" name="loginas" class="form-control input-lg" [(ngModel)]="model.loginas" #loginas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loginas.invalid }" required>
								     	<option value="0">Customer</option>
								      	<option value="1">Admin</option>
								    </select>
								    <div *ngIf="f.submitted && loginas.invalid" class="invalid-feedback">
								      	<div *ngIf="loginas.errors.required">Select login type</div>
								    </div>
	                    		</div>
	                    	</div>
	                    </div>
	                    <div class="form-group form-actions">
	                        <div class="col-xs-6 text-right" style="float: right;">
	                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Log In</button>
	                        </div>
	                    </div>
	                    <div class="form-group">

	                    </div>
	                </form>
	                <div class="text-center">
	                    <a href="javascript:void(0)" routerLink="/recover-password" routerLinkActive="active"><small>Forgot password?</small></a>
	                </div>
	                <!-- END Log In Form -->
	            </div>
	        </div>
	    </div>
	</section>
	<div id="content">
	    <router-outlet></router-outlet>
	</div>
</div>
<!-- END Sign Up Action -->