<div class="about-main-container">
	<div class="contact_info">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<ul class="about_list">
						<li>
							<div class="aboutus_title">About Us</div>
							<div class="aboutus_content">
								<div class="col-xs-12 content_para">
									<strong>Turnthepage.com began in 2018. We wanted to offer a platform that would require easy navigation and wide variety of books at affordable cost for readers.  </strong> 
								</div>
								 <div class="col-xs-12 content_para">
									<strong>We are pleased to dedicate this Web Edition for the benefit of the book readers. We will live upto the principles set out in the constitution of our group. </strong>
								</div>
								 <div class="col-xs-12">
									<strong>We maintain high level of quality in our service. We constantly try to improve upon our services to the industry by inviting active participation of our customers.</strong>
								</div>
							</div>
						</li>
						<li>
							<div class="aboutus_title">Our Values</div>
							<div class="aboutus_content">
								<ul class="about_values">
									<li> 
										<div class="values_heading"><strong>Our Customers Mean the World </strong></div>

										<div> At Turnthepage.com, we strive to provide exactly what our customers are looking for. A huge part of our brainstorming process is looking at our client feedback to make sure you're well taken care of. </div>
									</li>
									<li> 
										<div class="values_heading"><strong>In-House Made </strong></div>
										
										<div> We are personally committed to delivering the very best. Everything, from customer support to best product delivery, is provided by our dedicated team. </div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>