<div id="page-container">
    <section class="site-content site-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 site-block">
                    <!-- Sign Up Form -->
                    <form method="post" id="form-change-pass" class="form-horizontal" name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                    	<div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="loginemail">Email</label>
                                    <input type="email" id="register-email" name="loginemail" class="form-control input-lg" [(ngModel)]="model.loginemail" #loginemail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loginemail.invalid }" required email />
                                    <div *ngIf="f.submitted && loginemail.invalid" class="invalid-feedback">
                                        <div *ngIf="loginemail.errors.required">Email is required</div>
                                        <div *ngIf="loginemail.errors.email">Email must be a valid email address</div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="passcode">Passcode</label>
                                    <input type="text" id="change-passcode" name="passcode" class="form-control input-lg" [(ngModel)]="model.passcode" #passcode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passcode.invalid }" required />
                                    <div *ngIf="f.submitted && passcode.invalid" class="invalid-feedback">
                                        <div *ngIf="passcode.errors.required">Passcode is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>                 
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="password">New Password</label>
                                    <input type="password" id="register-password" name="password" class="form-control input-lg" [(ngModel)]="model.password" #password="ngModel" ng-model="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                         <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input type="password" id="register-password-verify" name="confirmpassword" class="form-control input-lg" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel"  validateEqual="password" ng-match="password" [ngClass]="{ 'is-invalid': f.submitted && IsMatch }" required minlength="6"/>
                                    <div *ngIf="f.submitted && confirmpassword.invalid" class="invalid-feedback">
                                        <div *ngIf="IsMatch">Password mismatch</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-xs-6 text-right reg-btn">
                                <button type="submit" class="btn btn-sm btn-primary reg-btn"><i class="fa fa-plus"></i> Reset Password</button>
                            </div>
                            <div class="col-xs-6 text-right passcode-btn">
                            	<button type="submit" routerLink="/recover-password" routerLinkActive="active" class="btn btn-sm btn-primary reg-btn"><i class="fa fa-plus"></i> Resend Passcode</button>
                            </div>
                        </div>
                    </form>
                    <!-- END Sign Up Form recover-password -->
                </div>
            </div>
        </div>
    </section>
</div>